@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.news
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 800px;
}
.news__li
{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: grey;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}
 .news__search
 {
   margin-bottom: 10px;
 }

.form__add-text
{
  width: 800px;
  height: 200px;
  margin-bottom: 10px;
}

.add-news__form
{
  display: flex;
  flex-direction: column;
  width: 800px;
}

.add-news__form input
{
  width: 200px;
  margin-bottom: 10px;
}

.newstags
{
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}

.news__li-tags
{
  background-color: cadetblue;
  margin-bottom: 3px;
  border-radius: 3px;
  display: inline;
  margin-right: 3px;
}

.news__li-tags-drop
{
  background-color: brown;
  margin-bottom: 3px;
  border-radius: 3px;
  display: inline;
  margin-right: 3px;
}



